.content {
  width: 92%;
  padding: 4em;
  background-color: rgb(15, 23, 42);
  margin: 5% 0;
  border-radius: 10px;
  label {
    margin: 1em 0;
    font-weight: 600;
    color: rgb(139 92 246);
  }

  input,
  select {
    padding: 0.5em;
    border-radius: 3px;
    color: rgb(15 23 42);
    outline: none;
  }
}

.highlight {
  border: 0.125em solid red;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@media screen and (max-width: 850px) {
  .content {
    width: 20em;
    padding: 2.5em;
    margin-top: 4em;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
