.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 30%;
    width: 27em;
    height: 17em;
    background-color: rgb(15 23 42);
    border-radius: 10px;
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
      }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 86vw;
    .container {
      width: 20em;
      height: 17em;
      margin: 2em;
      background-color: rgb(15 23 42);
      border-radius: 10px;
    }
  }
}
